## Explore the data

In [28]:
import pandas as pd
import json
import glob
import os
#import os.path

In [29]:
def getIndexes(dfObj, value):
    ''' Get index positions of value in dataframe i.e. dfObj.'''
 
    listOfPos = []
    # Get bool dataframe with True at positions where the given value exists
    result = dfObj.isin([value])
    # Get list of columns that contains the value
    seriesObj = result.any()
    columnNames = seriesObj[seriesObj == True].index.tolist()
    # Iterate over list of columns and fetch the rows indexes where value exists
    for col in columnNames:
        rows = result[col][result[col] == True].index.tolist()
        for row in rows:
            listOfPos.append((row))
    # Return a list of tuples indicating the positions of value in the dataframe
    return listOfPos

In [30]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

## Exploration SONG_DATA

In [31]:
data_raw =[]
folder_path = "data/song_data"
for path, dirs, files in os.walk(folder_path):
    for filename in files:
        Mypath_filename = os.path.join(path, filename)
        with open(Mypath_filename) as f:
            data = json.load(f)
        data_raw.append(data)
dataSong = pd.DataFrame(data_raw)
dataSong.head(2)

,num_songs,artist_id,artist_latitude,artist_longitude,artist_location,artist_name,song_id,title,duration,year
0,1,ARP6N5A1187B99D1A3,NaN,NaN,"Hamtramck, MI",Mitch Ryder,SOXILUQ12A58A7C72A,Jenny Take a Ride,207.43791,2004
1,1,ARGSAFR1269FB35070,NaN,NaN,,Blingtones,SOTCKKY12AB018A141,Sonnerie lalaleulé hi houuu,29.54404,0

In [73]:
data_raw =[]
folder_path = "data/song_data"
for path, dirs, files in os.walk(folder_path):
    for filename in files:
        Mypath_filename = os.path.join(path, filename)
        data_raw.append(Mypath_filename)

['data/song_data/A/B/B/TRABBXU128F92FEF48.json',
 'data/song_data/A/B/B/TRABBZN12903CD9297.json',
 'data/song_data/A/B/B/TRABBJE12903CDB442.json',
 'data/song_data/A/B/B/TRABBLU128F93349CF.json',
 'data/song_data/A/B/B/TRABBBV128F42967D7.json',
 'data/song_data/A/B/B/TRABBKX128F4285205.json',
 'data/song_data/A/B/B/TRABBNP128F932546F.json',
 'data/song_data/A/B/B/TRABBOP128F931B50D.json',
 'data/song_data/A/B/B/TRABBVJ128F92F7EAA.json',
 'data/song_data/A/B/B/TRABBAM128F429D223.json',
 'data/song_data/A/B/B/TRABBOR128F4286200.json',
 'data/song_data/A/B/B/TRABBTA128F933D304.json',
 'data/song_data/A/B/C/TRABCEI128F424C983.json',
 'data/song_data/A/B/C/TRABCEC128F426456E.json',
 'data/song_data/A/B/C/TRABCFL128F149BB0D.json',
 'data/song_data/A/B/C/TRABCXB128F4286BD3.json',
 'data/song_data/A/B/C/TRABCPZ128F4275C32.json',
 'data/song_data/A/B/C/TRABCTK128F934B224.json',
 'data/song_data/A/B/C/TRABCIX128F4265903.json',
 'data/song_data/A/B/C/TRABCKL128F423A778.json',
 'data/song_data/A/B/C/TRABCAJ12903CDFCC2.json',
 'data/song_data/A/B/C/TRABCYE128F934CE1D.json',
 'data/song_data/A/B/C/TRABCUQ128E0783E2B.json',
 'data/song_data/A/B/C/TRABCRU128F423F449.json',
 'data/song_data/A/B/A/TRABAIO128F42938F9.json',
 'data/song_data/A/B/A/TRABACN128F425B784.json',
 'data/song_data/A/B/A/TRABAXV128F92F6AE3.json',
 'data/song_data/A/B/A/TRABAWW128F4250A31.json',
 'data/song_data/A/B/A/TRABATO128F42627E9.json',
 'data/song_data/A/B/A/TRABAVQ12903CBF7E0.json',
 'data/song_data/A/B/A/TRABAXR128F426515F.json',
 'data/song_data/A/B/A/TRABAFP128F931E9A1.json',
 'data/song_data/A/B/A/TRABAXL128F424FC50.json',
 'data/song_data/A/B/A/TRABAZH128F930419A.json',
 'data/song_data/A/B/A/TRABAFJ128F42AF24E.json',
 'data/song_data/A/A/B/TRAABJV128F1460C49.json',
 'data/song_data/A/A/B/TRAABXG128F9318EBD.json',
 'data/song_data/A/A/B/TRAABNV128F425CEE1.json',
 'data/song_data/A/A/B/TRAABDL12903CAABBA.json',
 'data/song_data/A/A/B/TRAABCL128F4286650.json',
 'data/song_data/A/A/B/TRAABVM128F92CA9DC.json',
 'data/song_data/A/A/B/TRAABYN12903CFD305.json',
 'data/song_data/A/A/B/TRAABLR128F423B7E3.json',
 'data/song_data/A/A/B/TRAABJL12903CDCF1A.json',
 'data/song_data/A/A/B/TRAABRB128F9306DD5.json',
 'data/song_data/A/A/B/TRAABYW128F4244559.json',
 'data/song_data/A/A/C/TRAACHN128F1489601.json',
 'data/song_data/A/A/C/TRAACNS128F14A2DF5.json',
 'data/song_data/A/A/C/TRAACZK128F4243829.json',
 'data/song_data/A/A/C/TRAACLV128F427E123.json',
 'data/song_data/A/A/C/TRAACCG128F92E8A55.json',
 'data/song_data/A/A/C/TRAACOW128F933E35F.json',
 'data/song_data/A/A/C/TRAACQT128F9331780.json',
 'data/song_data/A/A/C/TRAACTB12903CAAF15.json',
 'data/song_data/A/A/C/TRAACVS128E078BE39.json',
 'data/song_data/A/A/C/TRAACER128F4290F96.json',
 'data/song_data/A/A/C/TRAACFV128F935E50B.json',
 'data/song_data/A/A/C/TRAACIW12903CC0F6D.json',
 'data/song_data/A/A/C/TRAACSL128F93462F4.json',
 'data/song_data/A/A/C/TRAACPE128F421C1B9.json',
 'data/song_data/A/A/A/TRAAAMO128F1481E7F.json',
 'data/song_data/A/A/A/TRAAAAW128F429D538.json',
 'data/song_data/A/A/A/TRAAAVO128F93133D4.json',
 'data/song_data/A/A/A/TRAAARJ128F9320760.json',
 'data/song_data/A/A/A/TRAAAEF128F4273421.json',
 'data/song_data/A/A/A/TRAAAVG12903CFA543.json',
 'data/song_data/A/A/A/TRAAADZ128F9348C2E.json',
 'data/song_data/A/A/A/TRAAAPK128E0786D96.json',
 'data/song_data/A/A/A/TRAAAMQ128F1460CD3.json',
 'data/song_data/A/A/A/TRAAABD128F429CF47.json',
 'data/song_data/A/A/A/TRAAAFD128F92F423A.json']

In [32]:
print("DataSong Set Shape --> {}".format(dataSong.shape))
lines = !find ./data/song_data -name \*.json | wc -l
print("DataSong Set nb ligne in ./Data --> {}".format(lines))
print("DataSong Set Types --> \n{}:".format(dataSong.dtypes))
# compter la repetition des valeurs 
print("DataSong Set values \n{}".format(dataSong.title.value_counts()))

DataSong Set Shape --> (71, 10)
DataSong Set nb ligne in ./Data --> ['71']
DataSong Set Types -->
num_songs             int64
artist_id            object
artist_latitude     float64
artist_longitude    float64
artist_location      object
artist_name          object
song_id              object
title                object
duration            float64
year                  int64
dtype: object:
DataSong Set values
Pink World                                     1
Setanta matins                                 1
Sono andati? Fingevo di dormire                1
Laws Patrolling (Album Version)                1
Amor De Cabaret                                1
                                              ..
Baby Come To Me                                1
The Urgency (LP Version)                       1
I Didn't Mean To                               1
Streets On Fire (Explicit Album Version)       1
The Moon And I (Ordinary Day Album Version)    1
Name: title, Length: 71, dtype: int64

In [33]:
dataSong.describe(include='all')

,num_songs,artist_id,artist_latitude,artist_longitude,artist_location,artist_name,song_id,title,duration,year
count,71.0,71,31.000000,31.000000,71,71,71,71,71.000000,71.000000
unique,NaN,69,NaN,NaN,41,69,71,71,NaN,NaN
top,NaN,ARD7TVE1187B99BFB1,NaN,NaN,,Clp,SOLEYHO12AB0188A85,Pink World,NaN,NaN
freq,NaN,2,NaN,NaN,28,2,1,1,NaN,NaN
mean,1.0,NaN,36.552972,-73.251233,NaN,NaN,NaN,NaN,239.729676,785.957746
std,0.0,NaN,12.431023,36.058076,NaN,NaN,NaN,NaN,106.562779,980.957119
min,1.0,NaN,-13.442000,-122.420050,NaN,NaN,NaN,NaN,29.544040,0.000000
25%,1.0,NaN,34.730385,-92.039350,NaN,NaN,NaN,NaN,170.722810,0.000000
50%,1.0,NaN,38.899100,-80.112780,NaN,NaN,NaN,NaN,228.597100,0.000000
75%,1.0,NaN,40.910475,-73.986780,NaN,NaN,NaN,NaN,286.366890,1992.500000
max,1.0,NaN,56.276090,15.967600,NaN,NaN,NaN,NaN,599.248530,2008.000000

In [34]:
dataSong.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 10 columns):
num_songs           71 non-null int64
artist_id           71 non-null object
artist_latitude     31 non-null float64
artist_longitude    31 non-null float64
artist_location     71 non-null object
artist_name         71 non-null object
song_id             71 non-null object
title               71 non-null object
duration            71 non-null float64
year                71 non-null int64
dtypes: float64(3), int64(2), object(5)
memory usage: 5.7+ KB

### In this dataset about artist and their songs:  
    * 71 lines
    * non-value in artist_id, artist_location, song_id, title, duration, year
    * 2 artist_id et artist_name apparaissent 2 fois: ARNTLGG11E2835DDB9 et ARD7TVE1187B99BFB1 mais avec des titres de chansons differents.

## Exploration LOG_DATA

In [35]:
json_files = []
for dirpath, dirnames, filenames in os.walk("./data/log_data/"):
    for filename in [f for f in filenames if f.endswith(".json")]:
        path_file = os.path.join(dirpath, filename)
        json_files.append(path_file)

In [36]:
#df = pd.read_json(filepath, lines=True)
import json
data_raw = []
for filepath in json_files:
    for line in open(filepath, 'r'):
        data_raw.append(json.loads(line))
dataLog = pd.DataFrame(data_raw)    
dataLog.shape

(8056, 18)

In [37]:
# firstLog

In [38]:
dataLog.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8056 entries, 0 to 8055
Data columns (total 18 columns):
artist           6820 non-null object
auth             8056 non-null object
firstName        7770 non-null object
gender           7770 non-null object
itemInSession    8056 non-null int64
lastName         7770 non-null object
length           6820 non-null float64
level            8056 non-null object
location         7770 non-null object
method           8056 non-null object
page             8056 non-null object
registration     7770 non-null float64
sessionId        8056 non-null int64
song             6820 non-null object
status           8056 non-null int64
ts               8056 non-null int64
userAgent        7770 non-null object
userId           8056 non-null object
dtypes: float64(2), int64(4), object(12)
memory usage: 1.1+ MB

In [39]:
del dataLog['status']
del dataLog['auth']
del dataLog['itemInSession']
del dataLog['method']
dataLog.head(2)
dataLog.shape

(8056, 14)

In [40]:
dataLog.describe(include='all').head(4)

,artist,firstName,gender,lastName,length,level,location,page,registration,sessionId,song,ts,userAgent,userId
count,6820,7770,7770,7770,6820.0,8056,7770,8056,7770.0,8056.0,6820,8056.0,7770,8056
unique,3148,85,2,87,NaN,2,63,13,NaN,NaN,5189,NaN,40,98
top,Coldplay,Chloe,F,Cuevas,NaN,paid,"San Francisco-Oakland-Hayward, CA",NextSong,NaN,NaN,You're The One,NaN,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",49
freq,58,791,5482,772,NaN,6291,776,6820,NaN,NaN,37,NaN,1098,772

In [41]:
# formater la date d'un timestamp miliseconde en y, m, d, s ...
dataLog['ts'] = pd.to_datetime(dataLog['ts'], unit = 'ms')

In [42]:
print(dataLog.head(3))

       artist firstName gender lastName     length level  \
0    Mudhoney    Aleena      F    Kirby  231.57506  paid
1  Carpenters    Aleena      F    Kirby  238.39302  paid
2        None    Aleena      F    Kirby        NaN  paid

                   location      page  registration  sessionId  \
0  Waterloo-Cedar Falls, IA  NextSong  1.541023e+12        637
1  Waterloo-Cedar Falls, IA  NextSong  1.541023e+12        637
2  Waterloo-Cedar Falls, IA      Home  1.541023e+12        637

                  song                      ts  \
0       Get Into Yours 2018-11-16 00:00:57.796
1  Yesterday Once More 2018-11-16 00:04:48.796
2                 None 2018-11-16 00:04:51.796

                                           userAgent userId
0  Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...     44
1  Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...     44
2  Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...     44

In [43]:
num = []
for i in range(len(dataSong['artist_name'])):
    for j in range(len(dataLog['artist'])):
        if dataSong['artist_name'][i] == dataLog['artist'][j]:
            num.append(dataSong['artist_name'][i])
            
compte = {}.fromkeys(set(num),0)   
for valeur in num:
    compte[valeur] += 1
print("*** Artists communsc au 2 dataset {}:".format(compte))
print("*** Il y a {} artistes communs aux 2 datasets".format(len(compte)))

*** Artists communsc au 2 dataset {'Lupe Fiasco': 5, 'Line Renaud': 1, 'Gwen Stefani': 1, 'Trafik': 1, 'Elena': 1, 'Tom Petty': 4, 'Sophie B. Hawkins': 1, 'Jimmy Wakely': 1, 'Lionel Richie': 4, 'Gob': 1, 'Blue Rodeo': 1}:
*** Il y a 11 artistes communs aux 2 datasets

In [44]:
# liste des chanteurs communs aux 2 datasets
list = [*compte]
list

['Lupe Fiasco',
 'Line Renaud',
 'Gwen Stefani',
 'Trafik',
 'Elena',
 'Tom Petty',
 'Sophie B. Hawkins',
 'Jimmy Wakely',
 'Lionel Richie',
 'Gob',
 'Blue Rodeo']

In [45]:
dic_artist = {}
for i in dataLog['artist']:
    if i in dic_artist:
        dic_artist[i] += 1
    else:
        dic_artist[i] = 1
print("Les artistes differents dans le dataLog sont au nombre de {}".format(len(dic_artist.keys())))

Les artistes differents dans le dataLog sont au nombre de 3149

In [46]:
for artist, freq in dic_artist.items():
    if freq > 1:
        print(artist, freq)

Carpenters 3
None 1236
Kings Of Leon 55
The Bloody Beetroots 2
Euge Groove 3
Soltero 4
Nirvana 12
Alliance Ethnik 30
Lykke Li 2
The Coffee Club Orchestra 2
Harmonia 21
Alicia Keys 7
Crosby_ Stills & Nash 5
R.E.M. 4
Eric Clapton 6
Ron Carter 9
Timbaland / Keri Hilson / D.O.E. 3
Everything But The Girl 3
Gotan Project 2
Washed Out 2
OutKast 4
Slightly Stoopid 5
Beastie Boys 15
The Killers 31
Riverside 2
Flobots 3
Lighthouse Family 2
Jack Johnson 35
Incubus 10
Edwyn Collins 3
Joshua Radin 8
Bon Iver 12
Bebo & Cigala 2
Amy Winehouse 16
Florence + The Machine 35
Devin Townsend 4
Camera Obscura 7
Keyshia Cole 3
Red Hot Chili Peppers 13
Lit 2
Avenged Sevenfold 8
Blue October 3
Delerium 3
The Meters 2
Macy Gray 2
Alice In Chains 6
Angels Of Light & Akron/Family 3
Krisiun 2
Band Of Horses 11
The Notorious B.I.G. 8
Foolish Things 6
The Strokes 13
Linkin Park 28
DJ Shadow 3
Fleet Foxes 5
Jonas Brothers 4
Guns N' Roses 18
Spice Girls 2
Los LÃÂ¡tigos 2
Mike Jones 2
Cage The Elephant 10
Foo Fighters 21
Muse 35
Owl City 8
Ray Barretto 4
The Fray 3
Rokia TraorÃÂ© 2
Les MisÃÂ©rables - 10th Anniversary Concert 3
Usher 8
3 Doors Down 13
The Pussycat Dolls 12
Ryan Adams & The Cardinals 2
Michael BublÃÂ© 13
Frumpies 8
Sheena Easton 5
Arctic Monkeys 17
Justin Timberlake 9
Shinedown 13
Coldplay 58
Kat DeLuna 2
Eminem / Dr. Dre / 50 Cent 5
La Roux 5
Aerosmith 5
Nickelback 6
Daft Punk 18
Beirut 9
Live 4
Hercules And Love Affair 4
Plain White T S 3
A Day To Remember 7
Aretha Franklin 2
The Wallflowers 4
OneRepublic 30
Van Halen 10
M83 7
The Ordinary Boys 3
Miike Snow 6
Booka Shade 3
Kirk Franklin & The Family 2
Scissor Sisters 5
Paramore 17
Rufus Wainwright 4
Joy Division 6
Vampire Weekend 12
Mariah Carey 6
Thyrfing 2
Avril Lavigne 7
Soundgarden 3
Angels and Airwaves 11
Kate Ryan 2
The RH Factor 2
Thousand Foot Krutch 3
Fey 2
Drowning Pool 7
The Postal Service 4
Jamie Cullum 2
Justin Bieber 29
Enya 13
Radiohead 30
Rogue Wave 3
zebrahead 2
RÃÂ¶yksopp 6
Eagles 7
David Arkenstone 2
Metric 8
Hot Chip 11
Justice 12
N.E.R.D. 5
Eminem 26
Theory Of A Deadman 3
Dashboard Confessional 5
Future Rock 10
The Cinematic Orchestra feat. Lou Rhodes 2
The Police 6
Black Eyed Peas 15
The Mars Volta 5
Dear Nora 2
Lil Scrappy 2
Escape The Fate 6
Travis 2
The xx 4
Bad Brains 2
James Taylor 3
Train 25
Minnie Riperton 3
Weezer 9
Colbie Caillat 5
Passion Pit 6
John Mayer 31
Kelly Clarkson 4
Children Of Bodom 2
The Black Keys 36
The Academy Is... 3
No Te Va Gustar 5
Jadakiss 2
Markus KrunegÃÂ¥rd 7
Bright Eyes 10
The New Pornographers 8
Craig David 2
Andrew Bird 4
Against Me! 2
Belanova 3
Xavier Rudd 2
Eric Church 4
Tub Ring 14
Godsmack 5
Erin McKeown 4
Juanes 11
Cartola 13
Cascada 2
Rihanna 11
Martin O'Donnell And Michael Salvatori 2
Interpol 7
Relient K 4
Fonseca 2
Hinder 3
Radney Foster 5
Battles 2
Carla Bruni 5
Hootie And The Blowfish 2
La Polla Records 2
Phish 2
Eminem / Nate Dogg 2
Rise Against 16
Jimmy Eat World 9
Josh Rouse 2
The Prodigy 8
Yann Tiersen 4
Hollywood Undead 5
Pearl Jam 11
Limp Bizkit 5
K'Naan 4
Cameo 5
Luke Bryan 3
Jill Scott 3
Edward Sharpe & The Magnetic Zeros 11
Usher featuring will.i.am 10
Nine Inch Nails 9
Franz Ferdinand 13
America 4
Built To Spill 2
Gorillaz 14
Mikel Erentxun 2
The Gerbils 5
AFI 7
Hot Hot Heat 2
ATB 6
Mt. St. Helens Vietnam Band 2
Creedence Clearwater Revival 17
Benga 3
Basshunter 5
Slim Dusty 2
Dido 6
Lifehouse 6
Steely Dan 4
Sade 4
Kanye West 22
Toby Keith 6
Evanescence 19
BeyoncÃÂ© 23
Lupe Fiasco 5
Deadmau5 7
Jay-Jay Johanson 2
Great Lake Swimmers 3
the bird and the bee 10
Matt Redman 3
DHT Feat. EdmÃÂ©e 2
Shakira 13
Spoon 4
Blind Pilot 3
Delirious? 2
Chicane 2
Madonna 8
Telex 3
Modest Mouse 14
Eminem / Dina Rae 2
Eliza Doolittle 3
BjÃÂ¶rk 33
Green Day 7
23 Skidoo 2
Jonathan Coulton 2
Deftones 6
Telepopmusik 2
The All-American Rejects 19
Masta Killa 2
3OH!3 4
Jaci Velasquez 4
Fernando Ubiergo 2
Death Cab for Cutie 8
Philippe Rochard 5
Nando Reis 4
Enigma 8
Alanis Morissette 6
MichÃÂ¨le Arnaud 2
Pantera 4
Mates of State 2
Silversun Pickups 5
Blink-182 5
Carrie Underwood 4
Black Box 2
Cloud Cult 2
Octopus Project 8
Peter Tosh 3
Alter Bridge 2
Two Door Cinema Club 12
Ray LaMontagne 3
Lady GaGa 10
Colt Ford 2
Brand New 2
Earth_ Wind & Fire 2
Andres Calamaro 7
Blue States 3
Staind 2
Moby 5
Girl Talk 6
Sean Kingston and Justin Bieber 3
My Chemical Romance 7
Creed 3
Max Richter 4
Jason Mraz 17
Chris Brown 6
Kansas 5
The White Stripes 13
Nik & Jay 2
Amon Amarth 7
Static-X 4
Mystikal 2
CKY 2
Bersuit Vergarabat 4
TV On The Radio 4
The Presets 2
Cat Stevens 15
Snow Patrol 9
Joan Baez 2
Dwight Yoakam 38
Blackalicious 2
Iration 2
The Avett Brothers 10
JosÃÂ© Gonzalez 4
Ween 5
Jeremih 3
The Dodos 2
The Format 4
Smash Mouth 3
Superlitio 2
Turing Machine 2
Shaggy / Ricardo Ducent 2
Copeland 2
P.O.D. 2
Ratatat 2
Elton John 3
BarlowGirl 2
Me First And The Gimme Gimmes 3
George Michael 2
Easy Star All-Stars 3
Los Concorde 2
J. Karjalainen & Mustat Lasit 7
Yeah Yeah Yeahs 4
The Clash 3
Elliott Smith 4
Panic At The Disco 8
City And Colour 2
Cocorosie 2
Katrina & The Waves 2
Tricky 3
Moose 3
Fergie 4
Terrorvision 2
The Kills 7
Lionel Richie 4
The Rolling Stones 4
Bajaga & Instruktori 2
Kid Rock 5
Tears For Fears 3
Christopher O'Riley 2
Deadmau5 & Kaskade 3
Flight Of The Conchords 5
The Buggles 3
59 Times the Pain 4
Barry Tuckwell/Academy of St Martin-in-the-Fields/Sir Neville Marriner 19
Five Iron Frenzy 17
Wu-Tang Clan 3
Lily Allen 20
Danger Doom 2
Huey Lewis And The News 2
Wilco 4
Sting 4
Anis 3
Paulina Rubio 3
Arcade Fire 9
A Fine Frenzy 2
Kid Cudi 8
Katy Perry 11
Karnivool 2
Ryan Adams 3
Hoobastank 6
Cosmo Vitelli 2
Faith No More 11
Lesley Gore 2
Plain White T's 6
Culture Club 2
California Swag District 5
Britney Spears 3
Randy Crawford 8
U2 4
Frightened Rabbit 6
Bruce Springsteen 6
Molotov 4
Genesis 2
Orishas 4
Animal Collective 7
Garbage 3
Ry Cooder 3
Just Jack 3
Imogen Heap 2
Phil Wickham 2
Air 6
Beck 7
System of a Down 4
Weird Al Yankovic 2
Apocalyptica 7
Anberlin 6
Skillet 6
Cake 5
Say Anything 3
Andre Hazes 5
Charlie Louvin 3
Usher Featuring Lil' Jon & Ludacris 7
Buckcherry 5
RUN-DMC 2
Story Of The Year 2
Symphony X 6
The Velvet Underground 3
Little Boots 3
Dangerdoom 2
Mc Chris 2
Jack's Mannequin 4
Aqua 4
Enrique Iglesias 8
Motion City Soundtrack 4
Ticanaf 2
Ferry Corsten 2
Traveling Wilburys 3
ISRAEL & NEW BREED 4
Selena 4
Eyehategod 2
Rammstein 12
Tevin Campbell 2
Mutemath 3
Yeasayer 2
Righteous Brothers 5
The Crests 6
Jimi Hendrix 4
Duncan Dhu 3
Sneaker Pimps 4
Trey Songz 3
Taylor Swift 23
Amos Lee 5
Dead Kennedys 4
CafÃÂ© Tacvba 2
SOJA 3
The Red Jumpsuit Apparatus 2
Pavement 12
Sam Cooke 7
Thursday 4
Sister Hazel 2
Twista feat. Kayne West & Jamie Foxx 3
Cold 4
Cyndi Lauper 4
The Knife 2
Miley Cyrus 7
Eddie Vedder 6
DAVE MATTHEWS BAND 5
Alice Cooper 2
The Streets 2
Sara Bareilles 5
Jason Derulo 2
USS (Ubiquitous Synergy Seeker) 2
Zac Brown Band 2
Man Man 3
The Rumble Strips 2
Marilyn Manson 6
Camila 5
keller williams 2
Counting Crows 4
Richard Ashcroft 2
Rob Zombie 3
Yellowcard 2
B.o.B 8
Audioslave 4
Professor Longhair 2
Helloween 3
Fall Out Boy 11
Insane Clown Posse 4
Modjo 2
Cher 2
Tab Benoit 5
Kid Cudi / Kanye West / Common 5
MGMT 6
Tinchy Stryder / Taio Cruz 2
Mayday Parade 6
Aphex Twin 3
Marc Et Claude 2
Laurie Berkner 2
DMX 2
Phil Collins 6
Vanessa Carlton 2
Tom Petty And The Heartbreakers 5
Coko featuring Kirk Franklin 2
Daughtry 4
Alceu ValenÃÂ§a 5
King Diamond 2
Celtic Woman 2
Ministry 2
Charttraxx Karaoke 13
Sugarland 2
Massive Attack 4
The Tangent 2
Nelly / Jaheim 2
David Gray 4
Alesana 4
Metallica / Marianne Faithfull 2
Bon Jovi 7
Rick James 3
Emil Gilels/Orchestre de la SociÃÂ©tÃÂ© des Concerts du Conservatoire/AndrÃÂ© Cluytens 4
Box Car Racer 2
Otis Rush 2
Divinyls 2
Erin Bode 4
Joyce Cooling 2
R.I.O. 3
Ghostland Observatory 3
Evergreen Terrace 2
The Rascals 2
Great White 3
Zero 7 5
Mondo Marcio 4
Curtis Mayfield 2
Carlos Y JosÃÂ© 2
Stars 6
Old Crow Medicine Show 2
Nightwish 5
Sisqo 3
Lil Wayne / Shanell 2
Carnifex 2
Metallica 27
El Coyote Y Su Banda Tierra Santa 2
LCD Soundsystem 4
Telefon Tel Aviv 2
The dB's 2
Matt Nathanson 2
Il Divo 2
Guus Meeuwis 2
Sauce Money Featuring Memphis Bleek 3
Disturbed 6
Iam 2
Adina Howard 2
Tom Waits 3
Third World 2
Selena Gomez & The Scene 3
CSS 3
Bullet For My Valentine 3
Deepest Blue 2
El Canto del Loco 2
Kajagoogoo 4
The Maine 3
Kate Winslet 2
The Decemberists 8
Melody Gardot 3
Gang Starr 2
Bouncing Souls 2
Tegan And Sara 4
Silverchair 7
Seal 2
UNKLE Feat. Josh Homme 2
Streetlight Manifesto 5
Keith Sweat 4
The Mercury Program 3
Crystal Castles 8
Kim Carnes 3
Katie Melua 3
Frou Frou 2
Bill Withers 7
Cut Copy 7
School Of Seven Bells 2
Cute Is What We Aim For 5
Los AutÃÂ©nticos Decadentes 3
David Bowie 4
J Dilla 2
Norther 2
Postal Service 6
311 5
Platero Y Tu 4
Ben Folds Five 2
Flyleaf 3
Aesop Rock 4
Leftover Crack 2
Jarabe De Palo 3
Hannah Montana 2
Iyaz 2
Plastilina Mosh 4
Common 3
iio 2
Eric B. & Rakim 5
Five Finger Death Punch 4
Chiodos 2
Dion & The Belmonts 2
T.I. 5
Plies 3
Todd Barry 5
Flying Lotus 3
Jay-Z 4
Stone Sour 2
The Airborne Toxic Event 2
Sick Puppies 5
Pixies 13
P!nk 3
The Cat Empire 4
Restiform Bodies 2
Alice Deejay 3
Atmosphere 2
Matthew Good 2
BeyoncÃÂ© feat. Jay-Z 2
50 Cent 2
Alaska Y Dinarama 2
Damien Rice 3
Eagle-Eye Cherry 2
Casiotone For The Painfully Alone 2
New Order 3
Slipknot 7
Reel Big Fish 6
Ladytron 3
Leonard Cohen 7
Beverley Craven 2
Madeleine Peyroux 3
Jesse Cook 3
Dr. Alban 2
The Bravery 2
Major Organ And The Adding Machine 2
Marc Almond 3
The Tallest Man On Earth 3
Michael Cretu 2
Haloo Helsinki! 2
Sepultura 3
Diam's 4
Porcupine Tree 3
The Verve 2
Toro Y Moi 3
Simon Harris 4
Michael W. Smith 2
Underworld 4
Jackson Do Pandeiro 2
The Radio Dept. 3
O-Zone 2
Adam Lambert 5
Mission Of Burma 2
Era 2
+ / - {Plus/Minus} 2
The Whitest Boy Alive 3
Furthermore 2
Eminem / Bizarre 2
Soda Stereo 4
Light Of The World 2
Collective Soul 3
Carlos Santana & Mahavishnu John McLaughlin 2
Fabolous 2
Kaiser Chiefs 4
Delerium feat. Sarah McLachlan 2
Newton Faulkner 3
Base Ball Bear 4
Badly Drawn Boy 3
Machine Head 2
Michael Jackson 3
Daddy Yankee 3
Quantic 2
Vangelis 3
Armin van Buuren 5
Lady GaGa / Colby O'Donis 5
John Prine 2
dEUS 2
Sean Paul 2
Tamia 2
Dragonforce 4
Mobb Deep 2
Klaus Badelt 2
Cocteau Twins 2
The Champs 2
Don Omar 2
Alison Krauss / Union Station 3
Covenant 2
Calle 13 6
The Lonely Island 3
Vienna Teng 2
Fat Joe 3
The Smiths 8
Beach House 3
Pulp 4
K-OS 4
NOFX 4
Scars On Broadway 2
Hawk Nelson 2
Death In Vegas 2
AndrÃÂ©s Cepeda 2
Jonny L 2
Julia Fordham 2
M.I.A. 6
John Hiatt 2
Son House 2
Emmy The Great 2
A.B. Quintanilla III Y Los Kumbia Kings 2
Justin Nozuka 2
Bayside 3
Sonny Boy Williamson 2
Sea Wolf 3
Jets To Brazil 2
Tavares 2
Maria BethÃÂ¢nia 2
Prince & The Revolution 3
Third Eye Blind 3
The Gabe Dixon Band 2
Mogwai 4
Mystery Jets 2
Blockhead 2
MC Hammer 2
Holy Fuck 3
Angus & Julia Stone 10
Los Fabulosos Cadillacs 2
Tego Calderon 2
Bloodhound Gang 3
Iron Maiden 5
Primus 2
Jag Panzer 3
Emiliana Torrini 5
Dropkick Murphys 4
The Living End 2
Miami Horror 2
Kate Nash 2
Boyzone 2
Philip Glass 2
Asking Alexandria 3
Sugar Ray 2
New Radicals 2
Ella Fitzgerald 3
DJ Dizzy 5
The Casualties 3
Panic! At The Disco 2
Lamb 2
Joe Nichols 2
Samy Deluxe 3
Meat Loaf 2
Blue Man Group 2
Wim Mertens 2
Shout Out Louds 2
Kid Cudi Vs Crookers 5
Soul II Soul 3
Hans Zimmer_ James Newton Howard 2
Blur 2
Finger Eleven 2
Habib KoitÃÂ© 2
Lonnie Gordon 9
Mike And The Mechanics 3
Samael 2
Marisa Monte 2
JosÃÂ© GonzÃÂ¡lez 2
Ill Nino 3
Chromeo 3
Kid Cudi / MGMT / Ratatat 10
Akon 3
Los Bunkers 2
Stone Temple Pilots 3
Journey 2
Aaliyah 3
Temple Of The Dog 2
Leona Lewis 3
Yonder Mountain String Band 2
Seeed 2
Yung Berg 3
Country Joe & The Fish 2
Viola 2
The Darkness 4
Digitalism 2
George Younce 2
Josh Turner 4
Feist 9
Kanye West / Consequence / Cam'Ron 2
David Banner 2
Kreator 3
4 Skins 3
Thrice 3
Lasgo 2
Peter Sellers 2
Parachute 4
Queens Of The Stone Age 6
Steve Miller Band 3
Lil Wayne / Eminem 4
The Serendipity Singers 2
Blind Melon 4
Dakota Oak 3
Bow Wow feat. Chris Brown and JohntÃÂ¡ Austin 2
A Perfect Circle 3
Sleater-kinney 2
Sidewalk Prophets 2
ManÃÂ¡ 3
Okkervil River 2
Sunny Day Real Estate 2
Big Shug 2
Miguel Calo 2
Aventura 3
Boys Noize 2
James Blake 2
Placebo 5
Darius Rucker 3
White Denim 2
She & Him 4
Young Money featuring Lloyd 6
Rodrigo y Gabriela 2
OceanLab 2
Eva Cassidy 2
The Kooks 5
Three Drives 5
Parov Stelar 3
Smokie Norful 2
The Temper Trap 5
Alberto Plaza 2
Nana Caymmi 3
The Ruts 6
Old 97's 7
Flogging Molly 4
PeterLicht 3
Plan B 2
Steppenwolf 4
Jason Mraz & Colbie Caillat 6
Stephen Lynch 2
Morcheeba 6
Maroon 5 3
LMFAO 3
Local Natives 5
Justyna Steczkowska 2
Phoenix 10
Musiq 2
Dierks Bentley 3
Rage Against The Machine 4
Deep Dish 2
Cutting Crew 2
Portishead 5
Kix 2
Mazzy Star 2
Cream 4
MÃÂºm 2
Scooter 3
Josh Groban 5
Spineshank 2
Dominique A 5
As I Lay Dying 2
matchbox twenty 8
Kinky 4
Shania Twain 4
Infected Mushroom 4
Alex Ubago 3
You Me At Six 3
Datarock 2
Duran Duran 2
Big Tymers 4
Mae 2
Simian Mobile Disco 3
Eisbrecher 2
Ryan Bingham 2
Ashanti 4
The B-52's 4
12 Stones 3
Brooklyn Bounce 2
Leggo Beast 4
David Crowder*Band 2
The Cinematic Orchestra 5
Three 6 Mafia vs. TiÃÂ«sto with Sean Kingston and Flo Rida 2
Sugababes 2
Gyptian 3
Buju Banton 3
Joe Christmas 2
Switchblade Symphony 2
Explosions In The Sky 3
Regina Spektor 8
Bitter:Sweet 2
Basshunter Feat. DJ Mental Theos Bazzheadz 2
Vilma Palma e Vampiros 2
Drake / Kanye West / Lil Wayne / Eminem 4
The Offspring 5
Gary Allan 4
Lynyrd Skynyrd 3
Kelis 2
Bloc Party 4
Graham Coxon 3
Dance Gavin Dance 2
KT Tunstall 3
Wolfmother 3
New Found Glory 4
Tech N9ne 3
Los Lobos 3
Ennio Morricone 2
The Hush Sound 2
Britt Nicole 2
K's Choice 2
10cc 3
Billy Idol 3
Kudai 2
Jorge Drexler 3
The Black Crowes 2
Aloe Blacc 3
Pepper 3
Jake Hess 2
Rilo Kiley 9
Matt Costa 2
38 Special 2
Travie McCoy 4
JOSEF LOCKE & ORCHESTRA 2
Flaw 2
FM Static 5
Dr. Dre / Eminem / Alvin Joiner 2
Cradle Of Filth 3
The Libertines 3
Velour 100 2
Lauryn Hill 2
Kiuas 2
Johnny Winter 2
Gordon Lightfoot 2
The Courteeners 2
El Cuarteto De Nos 3
De-Phazz 2
Tree63 2
Kings Of Convenience 3
Dimmu Borgir 3
Kate Voegele 3
Stacie Orrico 2
Shadows Fall 2
Tokio Hotel 2
Everclear 3
Erasure 3
The Fugees 2
India.Arie 4
Sia 4
Eels 4
Mos Def 2
Fatboy Slim 2
The Mossie 2
Big & Rich 2
Deerhunter 2
Tweet 2
Gang Starr/Inspectah Deck 2
Erykah Badu 4
Mariza 3
Asia 2001 3
Alejandro Sanz 6
Caifanes 3
Rancid 2
Subhumans 3
The Swell Season 2

Mike Posner 2
Shaggy 2
Klaus Doldinger's Passport 2
NEEDTOBREATHE 2
David Byrne & Fatboy Slim feat. Charmaine Clamor 2
Ottmar Liebert 2
The Roots 2
Manu Chao 2
Burt Bacharach 2
Ra Ra Riot 2
Neil Young 2
Wyclef Jean 2
Alvin And The Chipmunks 2
Nouvelle Vague 2
The Specials 3
Fisher 3
Zee Avi 2
R. Kelly 2
Jacky Terrasson 5
The Rakes 2
Bryan Adams 4
In Flames 3
Syd Barrett 2
Supertramp 2
Smile Empty Soul 4
The Cardigans 3
Binary Star 4
Pennywise 2
ExposÃÂ© 2
Taking Back Sunday 2
Goldfrapp 3
Buena Vista Social Club 2
Caribou 2
Missy Elliott 2
Los Campesinos 2
SinÃÂ©ad O'Connor 2
James Blunt 2
Die Mooskirchner 7
The Corrs 3
The Wombats 2
Charly GarcÃÂ­a 2
Jedi Mind Tricks 3
Corona 2
Ben Folds 2
Mariah Carey / Twista 2
Nickel Creek 6
Marina And The Diamonds 2
The Dresden Dolls 2
Pat Benatar 2
Sondre Lerche 4
Mickie Krause 4
Depeche Mode 3
Killswitch Engage 3
Cass McCombs 2
Slash 2
Hot Water Music 3
Minus The Bear 2
Pieces Of A Dream 3
Ska-P 2
Thirteen Senses 2
Klaxons 3
Scandinavian Music Group 2
The Lonely Island / Julian Casablancas 2
Three Days Grace 2
The Ethiopians 2
Jamiroquai 2
Mudcrutch 2
Sufjan Stevens 2
The Beach Boys 2
No Doubt 4
LMFAO / Lil Jon 4
Liz Callaway 2
Screamin' Jay Hawkins 2
Elvis Presley 2
Heart 2
Anjulie 2
Stray Cats 2
Does It Offend You_ Yeah? 2
Discovery 3
Chris Cornell 2
Wet Wet Wet 3
Polly Paulusma 2
The Audition 2
Alejandro Fernandez 2
Foals 3
PJ Harvey 3
Tom Petty 4
John Waite 2
Adam Green 2
Robert Plant 2
Keisha White 2
Method Man 4
Bryn Terfel / Berliner Philharmoniker / Claudio Abbado 2
The Funky Lowlives 2
Nick Cave & The Bad Seeds 2
Francisca Valenzuela 2
Pendulum 2
Queensryche 2
ZZ Top 2
Showbread 2
Epica 2
Dragonette 2
Soulja Boy Tell'em 2
Bodo Wartke 2
Rosana 3
Chuck Berry 3
Framing Hanley 2
Kid Cudi / Ratatat 2
Corinne Bailey Rae 2
Royksopp 2
Bond 3
KC And The Sunshine Band 2
Joe Vasconcellos 2
John Michael Montgomery 2
Macaco 3
Black Stone Cherry 2
Chris Bathgate 2
Yazoo 2
The Velvet Underground / Nico 2
Gang Of Four 2
Toto La Momposina 2
Billy Currington 4
Tori Amos Featuring Damien Rice 2
Olivia Newton-John 2
The Spill Canvas 2
Survivor 3
Sam Sparro 3
Breaking Benjamin 2
Prodigy 2
Queen 4
Avantasia 2
Ratt 2
Nevermore 3
Craig Mack 2
Chevelle 2
Devendra Banhart 4
Neutral Milk Hotel 2
Phantom Planet 2
Boards of Canada 2
Derek Webb 2
Nada Surf 3
Sikth 2
Wordsworth 2
Bram Vermeulen 2
Atreyu 2
Catupecu Machu 3
Blondie 2
Sanctus Real 2
Des'ree 2
Jukebox The Ghost 2
Flo Rida 2
DecembeRadio 2
Ill NiÃÂ±o 2
George Baker Selection 2
Balkan Beat Box 2
Hellogoodbye 2
Of Montreal 2
Juan Carlos Baglietto 2
Saliva 2
Faithless 2
Vader 2
Hombres G 2
The Blues Brothers 2
The Coral 2
Chet Baker 2
STRATOVARIUS 2
Spinal Tap 2
The Human League 2
Lil Wayne / Bobby Valentino / Kidd Kidd 2
Fountains Of Wayne 2
Abba 2
Four Tet 2
Silverstein 2
Dixie Chicks 2

# exploration for etl.py

In [47]:
# un probleme de dataset dans la premiere partie me pousse a explorer un peu plus les datasets. 
# Il est demander de prendre la 1ere ligne de dataSong 
print("1ere ligne de datasong \t\t{}{}:".format(d1['artist_name'], d1['title']))

1ere ligne de datasong 		0    Mitch Ryder
Name: artist_name, dtype: object0    Jenny Take a Ride
Name: title, dtype: object:

In [48]:
# first row in datasong
song_files = get_files('data/song_data')
filepath = song_files[0]
df_raw = pd.read_json(filepath, lines=True)
artist_df = pd.DataFrame(df_raw)
artist_df.head()
#artist_df = df[['artist_id', 'artist_name', 'artist_location', 'artist_latitude', 'artist_longitude']].values[0].tolist()
#artist_df

,num_songs,artist_id,artist_latitude,artist_longitude,artist_location,artist_name,song_id,title,duration,year
0,1,ARP6N5A1187B99D1A3,NaN,NaN,"Hamtramck, MI",Mitch Ryder,SOXILUQ12A58A7C72A,Jenny Take a Ride,207.43791,2004

In [49]:
# Premier fichier des log data
log_files = get_files('data/log_data')
filepath = log_files[0]
log_df = pd.read_json(filepath, lines=True)
print("le nombre de lignes de fichiers {}:".format(len(log_df)))
log_df.head(2)

le nombre de lignes de fichiers 382:

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Mudhoney,Logged In,Aleena,F,10,Kirby,231.57506,paid,"Waterloo-Cedar Falls, IA",PUT,NextSong,1.541023e+12,637,Get Into Yours,200,1542326457796,Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...,44
1,Carpenters,Logged In,Aleena,F,11,Kirby,238.39302,paid,"Waterloo-Cedar Falls, IA",PUT,NextSong,1.541023e+12,637,Yesterday Once More,200,1542326688796,Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...,44

In [50]:
num = []
for i in range(len(artist_df['artist_name'])):
    for j in range(len(log_df['artist'])):
        if artist_df['artist_name'][i] == log_df['artist'][j]:
            num.append(artist_df['artist_name'][i])
            
compte = {}.fromkeys(set(num),0)   
for valeur in num:
    compte[valeur] += 1
    
print("*** Artists communsc au 2 dataset {}:".format(compte))
print("*** Il y a {} artistes communs aux 2 datasets".format(len(compte)))

*** Artists communsc au 2 dataset {}:
*** Il y a 0 artistes communs aux 2 datasets

L'exploration montre qu'il n'y a pas d'artist communs utilise pour l'etl entre les 2 fichiers impose par l'instruction. 
Est ce que l'artist 'Mitch Ryder' est dans les datalogs?

In [79]:
# get the song path
json_files_song =[]
folder_path = "data/song_data"
for path, dirs, files in os.walk(folder_path):
    for filename in files:
        mypath_filename = os.path.join(path, filename)
        json_files_song.append(mypath_filename)

# get the log path
json_files_log = []
for dirpath, dirnames, filenames in os.walk("./data/log_data/"):
    for filename in [f for f in filenames if f.endswith(".json")]:
        path_file = os.path.join(dirpath, filename)
        json_files_log.append(path_file)
# trouver l'index dans dataLog ou se trouve les noms des artistes de 'list'
for artist in list: 
    listOfPositions = getIndexes(dataSong, artist)
    
    for i in range(len(listOfPositions)):
        print(artist, 'est a l\'index: ', listOfPositions[i], 'de SongData')
    
    for filepath in json_files_song:
        for line in open(filepath, 'r'):
            if artist in line:
                print("{}   est dans le dossier -->./{}".format(artist, filepath))
        
    for filepath in json_files_log:
        for line in open(filepath, 'r'):
            if artist in line:
                print("{}   est dans le dossier -->{}".format(artist, filepath))
    print('----------------')

Lupe Fiasco est a l'index:  19 de SongData
Lupe Fiasco   est dans le dossier -->./data/song_data/A/B/C/TRABCKL128F423A778.json
Lupe Fiasco   est dans le dossier -->./data/log_data/2018/11/2018-11-06-events.json
Lupe Fiasco   est dans le dossier -->./data/log_data/2018/11/2018-11-06-events.json
Lupe Fiasco   est dans le dossier -->./data/log_data/2018/11/2018-11-29-events.json
Lupe Fiasco   est dans le dossier -->./data/log_data/2018/11/2018-11-10-events.json
Lupe Fiasco   est dans le dossier -->./data/log_data/2018/11/2018-11-14-events.json
Lupe Fiasco   est dans le dossier -->./data/log_data/2018/11/2018-11-28-events.json
Lupe Fiasco   est dans le dossier -->./data/log_data/2018/11/2018-11-27-events.json
----------------
Line Renaud est a l'index:  12 de SongData
Line Renaud   est dans le dossier -->./data/song_data/A/B/C/TRABCEI128F424C983.json
Line Renaud   est dans le dossier -->./data/log_data/2018/11/2018-11-22-events.json
----------------
Gwen Stefani est a l'index:  22 de SongData
Gwen Stefani   est dans le dossier -->./data/song_data/A/B/C/TRABCUQ128E0783E2B.json
Gwen Stefani   est dans le dossier -->./data/log_data/2018/11/2018-11-14-events.json
Gwen Stefani   est dans le dossier -->./data/log_data/2018/11/2018-11-07-events.json
----------------
Trafik est a l'index:  32 de SongData
Trafik   est dans le dossier -->./data/song_data/A/B/A/TRABAXL128F424FC50.json
Trafik   est dans le dossier -->./data/log_data/2018/11/2018-11-26-events.json
----------------
Elena est a l'index:  50 de SongData
Elena   est dans le dossier -->./data/song_data/A/A/C/TRAACCG128F92E8A55.json
Elena   est dans le dossier -->./data/log_data/2018/11/2018-11-21-events.json
----------------
Tom Petty est a l'index:  7 de SongData
Tom Petty   est dans le dossier -->./data/song_data/A/B/B/TRABBOP128F931B50D.json
Tom Petty   est dans le dossier -->./data/log_data/2018/11/2018-11-21-events.json
Tom Petty   est dans le dossier -->./data/log_data/2018/11/2018-11-20-events.json
Tom Petty   est dans le dossier -->./data/log_data/2018/11/2018-11-03-events.json
Tom Petty   est dans le dossier -->./data/log_data/2018/11/2018-11-10-events.json
Tom Petty   est dans le dossier -->./data/log_data/2018/11/2018-11-10-events.json
Tom Petty   est dans le dossier -->./data/log_data/2018/11/2018-11-05-events.json
Tom Petty   est dans le dossier -->./data/log_data/2018/11/2018-11-19-events.json
Tom Petty   est dans le dossier -->./data/log_data/2018/11/2018-11-19-events.json
Tom Petty   est dans le dossier -->./data/log_data/2018/11/2018-11-19-events.json
----------------
Sophie B. Hawkins est a l'index:  18 de SongData
Sophie B. Hawkins   est dans le dossier -->./data/song_data/A/B/C/TRABCIX128F4265903.json
Sophie B. Hawkins   est dans le dossier -->./data/log_data/2018/11/2018-11-24-events.json
----------------
Jimmy Wakely est a l'index:  41 de SongData
Jimmy Wakely   est dans le dossier -->./data/song_data/A/A/B/TRAABYN12903CFD305.json
Jimmy Wakely   est dans le dossier -->./data/log_data/2018/11/2018-11-11-events.json
----------------
Lionel Richie est a l'index:  35 de SongData
Lionel Richie   est dans le dossier -->./data/song_data/A/A/B/TRAABJV128F1460C49.json
Lionel Richie   est dans le dossier -->./data/log_data/2018/11/2018-11-24-events.json
Lionel Richie   est dans le dossier -->./data/log_data/2018/11/2018-11-29-events.json
Lionel Richie   est dans le dossier -->./data/log_data/2018/11/2018-11-17-events.json
Lionel Richie   est dans le dossier -->./data/log_data/2018/11/2018-11-15-events.json
----------------
Gob est a l'index:  70 de SongData
Gob   est dans le dossier -->./data/song_data/A/A/A/TRAAAFD128F92F423A.json
Gob   est dans le dossier -->./data/log_data/2018/11/2018-11-19-events.json
----------------
Blue Rodeo est a l'index:  42 de SongData
Blue Rodeo   est dans le dossier -->./data/song_data/A/A/B/TRAABLR128F423B7E3.json
Blue Rodeo   est dans le dossier -->./data/log_data/2018/11/2018-11-06-events.json
----------------

### About artist and song
num_songs = integer  (i don't know what is it)
#artist_id = SONGPLAYS ARTISTS 'artist_id' text
#artist_latitude = ARTISTS 'latitude' numeric	
#artist_longitude = ARTISTS 'longitude' numeric
#artist_location =  ARTISTS 'location' text	
#artist_name = ARTISTS 'name' text
#song_id = SONGPLAYS SONGS 'song_id' text
#title = SONGS 'title' text
#duration = SONGS 'duration' numeric
#year = SONGS 'year' integer

### About log
artist = text  
auth = text  
#firstName = USERS 'first_name' text  
#gender = USERS 'gender' text  
itemInSession = interger  
#lastName = USERS 'last_name' text  	
length = numeric  
#level = SONGPLAYS USERS 'level' text  
#location =	SONGPLAYS 'location' text  
method = text  
page = text  
registration = integer   	
#sessionId = SONGPLAYS 'session_id' integer  
song = text  
status = integer  
#ts = SONGPLAYS TIME 'start_time' integer  
#userAgent = SONGPLAYS 'user_agent' text  
#userId = SONGPLAYS USERS 'user_id' integer

Apres analyse des donnees avec python, toutes les donnees a rentrer dans la table d'apres les 2 data set on ete trouve
exepte:  
* SONGPLAYS songplay_id
* TIME hour
* TIME day
* TIME week
* TIME month
* TIME year
* TIME weekday